<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gtbank\Orders\Api\OrderInterface" type="Gtbank\Orders\Model\Order" />
	<preference for="Gtbank\Orders\Api\RmaInterface" type="Gtbank\Orders\Model\Rma" />
	<type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
		<plugin name="cedapi_quote_to_order_item" type="Gtbank\Orders\Plugin\Quote\QuoteToOrderItem"/>
    </type>
 <preference for="Magento\Sales\Controller\Adminhtml\Order\MassCancel" type="Gtbank\Orders\Controller\Adminhtml\MassCancel" />

</config>
