<?xml version="1.0"?>
<config>
	 <!-- <event name="sales_order_place_after">
		<observer name="sales_order_place_after" instance="Gtbank\Orders\Observer\SalesOrderInvoicePay" />
	</event>  -->
	<!-- <event name="sales_order_save_after">
		<observer name="sales_order_save_after" instance="Gtbank\Orders\Observer\SalesOrderAfterSave" />
	</event> -->
	  <event name="sales_order_place_after">
        <observer name="sales_order_place_after" instance="Gtbank\Orders\Observer\SalesOrderPlaceAfter" />
    </event>
</config>