<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    <tab id="otplogin" translate="label" sortOrder="200">
            <label>otplogin</label>
        </tab>
        <section id="cinovic_otplogin" translate="label" sortOrder="200"
                showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cinovic Otplogin</label>
            <tab>otplogin</tab>
            <resource>Cinovic_Otplogin::settings</resource>
            <group id="general" translate="label" sortOrder="10"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label,tooltip" sortOrder="10" type="select"
                        showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Of Your Field</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="section_data" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expire Time</label>
                    <comment>Time In Seconds.</comment>
                </field>
            </group>
        </section>
    </system>
</config>